body {
  background-image: url("../assets/newBgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.body {
  border: 1px solid transparent;
  background-position: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
button {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  outline: none;
  align-items: center;
  border-radius: 15px;
  width: 353px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  text-align: center;
}
.authButtons {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 46px;
}
.authButtons button {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
.textarea {
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 7px;
  margin-top: 15px;
  padding: 10px;
}
textarea:focus {
  outline: none;
}
.textarea input[type="text"],
.textarea input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #496736;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  caret-color: black;
  align-items: center;
  background: rgba(73, 103, 54, 0.5);
  border-radius: 16px;
  color: black;
  cursor: pointer;
  display: flex;
  width: 353px;
  height: 48px;
  border-radius: 16px;
  font-size: 17px;
  padding-left: 58px;
}
.textarea input[type="text"]::placeholder,
.textarea input[type="password"]::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}
.lockIcon {
  position: relative;
  color: rgb(44, 51, 36);
  top: 27px;
  left: 21px;
  font-size: 24px;
}
.emailIcon {
  position: relative;
  color: rgb(44, 51, 36);
  top: 27px;
  left: 17px;
  font-size: 22px;
}

.google {
  box-sizing: border-box;
  justify-content: flex-start;
  padding-left: 50px;
  border: 2px solid #ed961a;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  outline: none;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  color: rgba(237, 150, 26, 1);
  cursor: pointer;
  display: flex;
  width: 320px;
  height: 48px;
  border-radius: 16px;
  font-size: 16px;
}

.googleIcon {
  z-index: 1;
  position: relative;
  top: 35px;
  left: 17px;
  font-size: 23px;
}

.alternateMethod {
  position: relative;
  text-align: center;
  top: 50px;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.heading {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.userIcon1 {
  position: relative;
  color: rgb(44, 51, 36);
  top: 27px;
  left: 17px;
  font-size: 23px;
}
.userIcon2 {
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 20px;
}
.phoneIcon {
  position: relative;
  color: rgb(44, 51, 36);
  top: 28px;
  left: 17px;
  font-size: 24px;
}
.bellIcon1 {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 40px;
}
.searchArea {
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 36px;
  top: 100px;
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 45px;
  caret-color: rgb(106, 106, 106);
  color: black;
}
.searchArea::placeholder {
  font-family: Roboto, sans-serif;
  color: rgb(106, 106, 106);
}

.searchIcon {
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 7px;
  margin-top: 15px;
  padding: 10px;
  height: 36px;
  top: 85px;
  left: 25px;
  z-index: 55;
}
.chooseItem {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 46vh;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 602px;
  top: 136px;
}
.categoriesText {
  position: absolute;
  width: 89px;
  height: 20px;
  left: 20px;
  top: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.rectangle1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 115px;
  width: 46vh;
  left: 50%;
  transform: translateX(-50%);
  height: 107px;
  background: #496736;
  border-radius: 15px;
}
.categoriesCarousel {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 170px;
  top: 50px;
}
.categoriesImages {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 10px;
  transition: transform 0.5s ease;
}

.box1 {
  width: 30px;
}
.categoriesCarousel img {
  height: 100%;
  border-radius: 15px;
}
/*.smallBox1{
  border: 3px solid yellow;
  height: 100px;
  width: 40px;
  left: 30px;
  margin-right: 30px;
}
*/

.container1 img {
  width: 385px;
}

.Mexican,
.Italian,
.BBQ,
.Chinese,
.Indian,
.Thai,
.Breakfast,
.Sushi {
  box-sizing: border-box;

  height: 120px;
  width: 120px;
  top: 0%;
  bottom: 22.22%;

  background: url(11a23ada6e.jpg);
  border: 2px solid #effbdb;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}
.Mexican,
.BBQ,
.Chinese,
.Indian,
.Thai,
.Breakfast,
.Sushi {
  margin-left: 10px;
}

.name {
  margin-top: 10;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #ffffff;
}
.rectangle3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 500px;
  width: 46vh;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  background: rgba(255, 189, 89, 1);
  border-radius: 15px;
}
.middleSection {
  position: absolute;
  top: 230px;
  position: relative;
  display: flex;
}
.bottomSection {
  position: relative;

  display: flex;
}
.driver {
  position: relative;
  width: 143.65px;
  height: 108.39px;
}
.deliveryText1 {
  position: relative;
  width: 235px;
  height: 58px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.deliveryText2 {
  position: relative;
  width: 235px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.driver img {
  width: 143.65px;
  height: 108.39px;
}
.footer {
  top: 838px;
  height: 110;
  left: 50%;
  transform: translateX(-50%);
  width: 46vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.footerBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 46vh;
  height: 110px;
  background: #1b1b1b;
  border-top: 3px solid #496736;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.homeTab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 24px;
  top: 0px;
  margin: 15px;
  width: 70px;
  height: 70px;
}
.browseTab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  top: 0px;
  margin: 15px;
  width: 70px;
  height: 70px;
}
.cartTab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  margin: 15px;
  top: 0px;
  width: 70px;
  height: 70px;
}
.ordersTab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  margin: 15px;
  font-size: 24px;
  width: 70px;
  height: 70px;
}
.footerIconName {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  top: 45px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.footerBox img {
  height: 30px;
  width: 30px;
  margin-top: -30px;
}
.footerBox a {
  text-decoration: none;
  color: inherit;
}
.footerBox a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerBox a:focus {
  outline: none;
}

.orderDetails {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(95vw - 20px);
  margin-top: 40px;
  height: 107px;
  top: 168px;
}
.itemImg {
  box-sizing: border-box;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0px;
  top: 0px;
  border: 2px solid #ffffff;
  border-radius: 100px;
}
.itemImg img {
  height: 100%;
  border-radius: 100px;
}
.restuarantName {
  position: absolute;
  width: 150px;
  height: 20px;
  left: 80;
  top: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.date {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 80;
  top: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #effbdb;
}
.amount_item {
  position: absolute;
  width: 122px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  white-space: pre;
  font-size: 16px;
  left: 80;
  line-height: 19px;
  top: 56px;
  color: #effbdb;
}
.pendingContainer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  width: 110px;
  height: 34px;
  right: 0px;
  top: 0px;
  background: rgba(255, 189, 89, 0.3);
  border: 1px solid #ffbd59;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ffffff;
}

.reorderContainer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 110px;
  height: 34px;
  right: 0;
  top: 44px;
  border: 1px solid #ed961a;
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ed961a;
}
.margin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 0px;
  bottom: 0px;
  border: 1.5px solid #496736;
}
.oDetails2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(95vw - 20px);
  height: 107px;
  margin-top: 280px;
}
.completedContainer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  width: 110px;
  height: 34px;
  right: 0px;
  top: 0px;
  background: rgba(152, 183, 132, 0.65);
  border: 1px solid #98b784;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ffffff;
}
.oDetails3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(95vw - 20px);
  height: 107px;
  margin-top: 560px;
}
.cancelledContainer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  width: 110px;
  height: 34px;
  right: 0px;
  top: 0px;
  background: rgba(255, 82, 82, 0.6);
  border: 1px solid #ff5252;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ffffff;
}
.viewStoreContainer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 125px;
  height: 34px;
  right: 0;
  top: 44px;
  border: 1px solid #ed961a;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ed961a;
}
.closeButton {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 40px;
  background: #ed961a;
  border-top: 2px solid #ffc36f;
  border-radius: 50px;
}
.heading2 {
  position: absolute;
  display: flex;
  align-items: center;
  width: 318px;
  height: 39px;
  left: 28px;
  top: 90px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}
.descText {
  position: absolute;
  width: 353px;
  height: 40px;
  left: 30px;
  top: 140px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.addInfo {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100vw - 60px);
  height: 70%;
  margin-top: 140px;
  justify-content: center;
}

.address,
.suburb,
.state,
.postcode,.NameX {
  position: absolute;
  width: 254.43px;
  height: 91px;
  width: 353px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 2px;
  left: 0px;
  color: #ffffff;
}
.address {
  position: absolute;
}
.addInfo input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #496736;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  caret-color: black;
  align-items: center;
  background: rgba(73, 103, 54, 0.5);
  border-radius: 16px;
  color: black;
  cursor: pointer;
  display: flex;
  width: 105%;
  height: 48px;
  border-radius: 16px;
  font-size: 16px;
  margin-top: 20;
  padding-left: 20px;
}
.address {
  position: absolute;
  top: 0px;
}
.suburb {
  position: absolute;
  top: 135px;
}
.state {
  top: 270px;
}
.postcode {
  top: 405px;
}
.state {
  outline: none;
}
.dropDown {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  outline: none;
  width: 105%;
  margin-top: 20px;
  background: rgba(73, 103, 54, 0.5);
  border: 2px solid #496736;
  border-radius: 15px;
  color: rgba(239, 251, 219, 1);
}

.dropDown select {
  outline: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  width: 353px;
  height: 120px;
  background: transparent;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 20px;
}
option {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: rgba(73, 103, 5, 0.54);
}
.dropDown select::-ms-expand {
  display: none;
}

.addInfo input[type="text"]::placeholder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.addInfo2 {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100vw - 60px);
  height: 70%;
  margin-top: 290px;
  justify-content: center;
}
.addInfo2 input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #496736;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  caret-color: black;
  align-items: center;
  background: rgba(73, 103, 54, 0.5);
  border-radius: 16px;
  color: black;
  cursor: pointer;

  border-radius: 16px;
  font-size: 16px;
  margin-top: 20;
  padding-left: 20px;
}
.itemName {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}
.nameText,
.itemAmount,
.desc {
  position: absolute;
  width: 254.43px;
  height: 91px;
  width: 353px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  top: 0px;
}
.nameTA,
.amountTA {
  width: 100%;
  position: absolute;
  top: 25px;
  height: 48px;
}
.itemPrice {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 135px;
}
.itemDesc {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  top: 270px;
}
.itemDesc input[type="text"]::placeholder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: top;
  top: 20px;
  padding-top: 10px;
}
.descTA {
  position: absolute;
  width: 100%;
  height: 330px;
  top: 30px;
}
.descTA input {
  position: relative;
}
.addInfo2 input[type="text"]::placeholder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.favButton {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 40px;
 right: 20px;
  background: #ed961a;
  border-top: 2px solid #ffc36f;
  border-radius: 50px;
}
.resImage1 {
  position: absolute;
  width: 100%;
  height: 149px;
  left: 0px;
  top: 0px;
  border-radius: 0px 0px 15px 15px;
}
.resImage1 img {
  height: 100%;
  width: 100%;
}
.scrollable {
  position: absolute;
  overflow-y: scroll;
  width: 98%;
}
.closeB {
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 20px;
}
